[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "*"
astroid = "*"
async-generator = "*"
attrs = "*"
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
commonmark = "*"
coverage = "*"
dill = "*"
exceptiongroup = "*"
flask = "*"
h11 = "*"
idna = "*"
iniconfig = "*"
isort = "*"
itsdangerous = "*"
jinja2 = "*"
lazy-object-proxy = "*"
markupsafe = "*"
mccabe = "*"
outcome = "*"
packaging = "*"
platformdirs = "*"
pluggy = "*"
pygments = "*"
pylint = "*"
pyparsing = "*"
pysocks = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
requests = "*"
rich = "*"
selenium = "*"
sniffio = "*"
sortedcontainers = "*"
soupsieve = "*"
tabulate = "*"
tomli = "*"
tomlkit = "*"
tqdm = "*"
trio = "*"
trio-websocket = "*"
urllib3 = "*"
waitress = "*"
webdriver-manager = "*"
werkzeug = "*"
wrapt = "*"
wsproto = "*"
pillow = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
pefile = "*"

[dev-packages]

[requires]
python_version = "3.10"
