[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
rich = "*"
coverage = "*"
pylint = "*"
selenium = "*"
webdriver-manager = "*"
beautifulsoup4 = "*"
packaging = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
